.goto {
  width: 3.5rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 999;
  border-radius: 10%;
  cursor: pointer;
  transition: .3s ease-in-out;
  visibility: hidden;
  transition: .7s ease-in-out;
}

.gotoVisible{
  width: 3.5rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 999;
  border-radius: 10%;
  cursor: pointer;
  transition: .7s ease-in-out;
  visibility: visible
}

.arrowUp {
  color: #000000;
}

